@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./root.css";
@import "./itinerary.css";

/* This file is for your main application CSS */
:root {
    --primary-color: rgb(92, 173, 255);
    --background-color: rgb(230, 242, 245);
    --text-background-color: rgb(255, 255, 255);
    --header-secondary-background-color: rgb(135, 206, 250);
    --text-color: rgb(51, 51, 51);
    --text-hover-color: rgb(0, 102, 204);
    --subtitle-color: rgb(70, 70, 70);
    --button-primary-bg-color: rgb(31, 176, 255);
    --button-primary-hover-bg-color: rgb(137, 207, 240);
    --logo: url('/images/logo-light.svg');
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: rgb(30, 30, 30);
        --background-color: rgb(42, 42, 42);
        --text-background-color: rgb(25, 25, 25);
        --header-secondary-background-color: rgb(60, 60, 60);
        --text-color: rgb(229, 231, 235);
        --text-hover-color: rgb(112, 128, 144);
        --subtitle-color: rgb(211, 211, 211);
        --button-primary-bg-color: rgb(2, 132, 199);
        --button-primary-hover-bg-color: rgb(3 105 161);
        --logo: url('/images/logo.svg');
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.subtitle {
    color: var(--subtitle-color);
}

.subtitle a {
    color: rgb(14 165 233);
}

.subtitle a:hover {
    color: rgb(0, 102, 204);
}

a:hover {
    color: var(--text-hover-color);
}

[type="text"], [type="email"], [type="url"], [type="password"], [type="number"], [type="date"], [type="datetime-local"], [type="month"], [type="search"], [type="tel"], [type="time"], [type="week"], [multiple], textarea, select {
    color: var(--text-color);
    background-color: var(--text-background-color);
}

[type="checkbox"], [type="radio"] {
    background-color: var(--text-background-color);
}

[type="text"]:disabled, [type="email"]:disabled, [type="url"]:disabled, [type="password"]:disabled, [type="number"]:disabled, [type="date"]:disabled, [type="datetime-local"]:disabled, [type="month"]:disabled, [type="search"]:disabled, [type="tel"]:disabled, [type="time"]:disabled, [type="week"]:disabled, [type="checkbox"]:disabled, [type="radio"]:disabled, [multiple]:disabled, textarea:disabled, select:disabled {
    background-color: var(--background-color) !important;
}

.btn-primary {
    background-color: var(--button-primary-bg-color);
    color: var(--text-color)
}

.btn-primary:hover {
    background-color: var(--button-primary-hover-bg-color);
}

#calendar_background {
    background-color: var(--background-color);
    color: var(--text-color);
}

#click_today {
    color: var(--text-color);
}

#click_today:hover {
    color: var(--text-hover-color);
}