.title-header {
    background-color: var(--primary-color);
}

#logo {
    content: var(--logo);
    background: no-repeat center / contain;
}

#navbar-toggle:hover {
    background-color: var(--header-secondary-background-color);
    scale: 1.1;
}

#navbar-dropdown {
    background-color: var(--primary-color);
    z-index: 2;
}

#profile-toggle:hover {
    color: var(--text-hover-color);
}

#profile-dropdown {
    background-color: var(--header-secondary-background-color);
}