<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="icon" href={~p"/images/tab_logo.svg"} type="image/x-icon" />
    <.live_title>
      <%= assigns[:page_title] || "CoPlanHub" %>
    </.live_title>
     <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  
  <body class="antialiased">
    <.header class="px-4 sm:px-6 lg:px-8 title-header">
      <div class="flex items-center justify-between py-2 text-sm">
        <.link navigate="/">
          <div id="logo" class="w-52" />
        </.link>
        
        <div>
          <button
            id="navbar-toggle"
            data-collapse-toggle="navbar-dropdown"
            type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden"
            aria-controls="navbar-dropdown"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span> <FontAwesome.bars />
          </button>
          
          <div
            class="hidden w-full absolute rounded-sm right-0 p-2 mt-2 md:block md:w-auto md:relative md:mt-0"
            id="navbar-dropdown"
          >
            <ul class="flex flex-col items-center gap-4 font-semibold leading-5 md:flex-row md:space-x-4">
              <li>
                <.link href={~p"/"}>
                  Home
                </.link>
              </li>
              
              <%= if @current_user do %>
                <li>
                  <.link href={~p"/itineraries"}>
                    My Itineraries
                  </.link>
                </li>
                
                <li class="flex justify-between gap-2">
                  <button
                    id="profile-toggle"
                    data-dropdown-toggle="profile-dropdown"
                    type="button"
                    class="flex items-center justify-between w-full gap-2 py-2 px-3 rounded md:border-0 md:p-0 md:w-auto"
                    aria-controls="profile-dropdown"
                    aria-expanded="false"
                  >
                    <%= if @current_user.image do %>
                      <img
                        src={"data:image/png;base64," <> Base.encode64(@current_user.image.bytes)}
                        width="30"
                        height="30"
                        class="rounded-full"
                      />
                    <% else %>
                      <img
                        src={~p"/images/default-user-image.svg"}
                        width="30"
                        height="30"
                        class="rounded-full"
                      />
                    <% end %>
                     <%= @current_user.username %> <FontAwesome.caret_down class="h-4 w-4" />
                  </button>
                  
                  <div
                    id="profile-dropdown"
                    class="hidden divide-y divide-gray-100 rounded-sm shadow w-full md:w-44 absolute right-0 mt-9"
                  >
                    <ul class="py-2 px-4 text-sm text-center">
                      <li class="py-2">
                        <.link href={~p"/users/settings"}>
                          Profile
                        </.link>
                      </li>
                      
                      <li class="py-2">
                        <.link href={~p"/users/log_out"} method="delete">
                          Log out
                        </.link>
                      </li>
                    </ul>
                  </div>
                </li>
              <% else %>
                <li>
                  <.link href={~p"/users/register"}>
                    Register
                  </.link>
                </li>
                
                <li>
                  <.link href={~p"/users/log_in"}>
                    Log in
                  </.link>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </.header>
     <.flash_group flash={@flash} /> <%= @inner_content %>
  </body>
</html>
