<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "CoPlanHub" %>
    </.live_title>
     <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  
  <body class="bg-slate-100 dark:bg-slate-700 antialiased">
    <.header class="px-4 sm:px-6 lg:px-8 bg-slate-200 dark:bg-slate-800">
      <div class="flex items-center justify-between py-3 text-sm">
        <a href="/">
          <img src={~p"/images/logo.png"} class="w-52" />
        </a>
        
        <ul class="flex items-center gap-4 font-semibold leading-5">
          <%= if @current_user do %>
            <li>
              <%= @current_user.email %>
            </li>
            
            <li>
              <.link href={~p"/users/settings"}>
                Settings
              </.link>
            </li>
            
            <li>
              <.link href={~p"/users/log_out"} method="delete">
                Log out
              </.link>
            </li>
          <% else %>
            <li>
              <.link href={~p"/users/register"}>
                Register
              </.link>
            </li>
            
            <li>
              <.link href={~p"/users/log_in"}>
                Log in
              </.link>
            </li>
          <% end %>
        </ul>
      </div>
    </.header>
     <.flash_group flash={@flash} /> <%= @inner_content %>
  </body>
</html>
